@charset "utf-8";

$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;
$paradise-pink: #ef476fff;
$caribbean-green: #06d6a0ff;
$blue-ncs: #118ab2ff;
$midnight-green-eagle-green: #073b4cff;

// Set your brand colors
$primary: $charcoal;
$success: $midnight-green-eagle-green;
$warning: $orange-yellow-crayola;
$info: $blue-ncs;
$danger: $burnt-sienna;
$scrollbar-color: black;

@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulma-extensions/bulma-slider/src/sass/index.sass';
@import '../node_modules/bulma-extensions/bulma-pageloader/src/sass/index.sass';
